<%= form_with url: session_path, method: :post do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: 'block mb-1' %>
    <%= f.email_field :email, class: 'w-full' %>
  </div>
  <div class="mb-4">
    <%= f.label :password, class: 'block mb-1' %>
    <%= f.password_field :password, class: 'w-full' %>
  </div>
  <%= f.submit 'Log in', class: 'w-full bg-blue-600 text-white rounded py-2' %>
<% end %>
