<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td>
          <% if task.running_time_entry %>

            <%= form_with model: [task, task.running_time_entry], method: :put do |f| %>
              <%= f.text_field :comment, placeholder: "Comment" %>
              <%= f.submit 'Stop' %>
            <% end %>

          <% else %>
            <%= button_to 'Start', task_time_entries_path(task), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Calendar', calendar_path %> |
<%= link_to 'Logout', session_path, method: :delete %>

