<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, calendar_path(task_id: task.id) %></td>
        <td><%= task.description %></td>
        <td>
          <% if task.running_time_entry %>
            <%= form_with model: [task, task.running_time_entry], method: :put, class: "inline" do |f| %>
              <button type="submit" class="icon-button" title="Stop"><i class="fa fa-stop"></i></button>
            <%= button_to task_time_entries_path(task), method: :post, class: "icon-button" do %>
              <i class="fa fa-play"></i>
            <% end %>
              <%= f.submit 'Stop' %>
            <% end %>

          <% else %>
            <%= button_to 'Start', task_time_entries_path(task), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Calendar', calendar_path %> |
<%= link_to 'Logout', session_path, method: :delete %>

