<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <nav>
          <%= link_to 'Calendar', calendar_path %> |
          <%= link_to 'Tasks', tasks_path %> |
          <%= link_to 'Logout', session_path, method: :delete %>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
