<div class="max-w-3xl mx-auto mt-8">
  <h1 class="text-2xl mb-4">Work Hours</h1>

  <table class="mb-4">
    <thead>
      <tr>
        <th>Task</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @time_entries.each do |entry| %>
        <tr>
          <td><%= entry.task.name %></td>
          <td><%= entry.start_time.in_time_zone('Asia/Tokyo').strftime('%A, %B %-d') %></td>
          <td><%= entry.start_time.in_time_zone('Asia/Tokyo').strftime('%H:%M') %></td>
          <td><%= entry.end_time&.in_time_zone('Asia/Tokyo')&.strftime('%H:%M') %></td>
          <td><%= Time.at(entry.duration).utc.strftime('%H:%M:%S') %></td>
          <td><%= entry.comment %></td>
          <td>
            <%= link_to edit_task_time_entry_path(entry.task, entry), class: 'icon-button', title: 'Edit' do %>
              <i class="fa fa-pen"></i> Edit
            <% end %>
            <button data-action="modal#open" data-url="<%= task_time_entry_path(entry.task, entry) %>" class="icon-button" title="Delete">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to 'Tasks', tasks_path %> | <%= link_to 'Logout', session_path, data: { turbo_method: :delete } %></p>
</div>
<%= render 'shared/delete_modal' %>
